<html>
    <head>
        <title>
            rohan
        </title>
    </head>
    <style>
        .user, .pass, .btn
        {
            height: 60px;
            width: 300px;
            margin: 20px;
            padding: 20px;
            display: inline-block;
            border-radius: 20px;
            
        }
        .btn
        {
          background-color: skyblue;
        }
        body
        {
          display: flex;
          flex-direction: column;
          height: 100vh;
          justify-content: center;
          align-items: center;
        }
    </style>
    <body>
    <form method="POST" action="{{ url_for('form')}}">
          <input type="text" name="email" class="user" placeholder="Enter Your Email"><br />
          <input type="text" name="password" class="pass" placeholder="Enter your Password"><br>
          <button class="btn" type="submit" value="Login"> Login</button>
    </form>
        
  </body>
</html>